

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "fi.metropolia.ismo"
versionCode="2"
version = "2.0.0">
<name>YouAreHere</name>
<description>
A Project Work at School
</description>
<author href="http://users.metropolia.fi/~ismop” email=ismo.paukamainen@metropolia.fi">
Ismo
</author>

<gap:platform name="android" />
<gap:plugin name="org.apache.cordova.geolocation" />


<icon src="icon.png" />
</widget>
